

<h1>Band list</h1>
<div id="band-list">
	{% for band in bands %}
		<div class="cell">
			<img alt="{{ band.image }}" src="">
		</div>
	        <tr>
	            <td><a href="{{ path('band_show', { 'id': band.id }) }}">{{ band.id }}</a></td>
	            <td>{{ band.name }}</td>
	            <td>{{ band.nationality }}</td>
	            <td><img src="{{ asset(band.webPath) }}" /></td>
	            <td>{{ band.presentation }}</td>
	            <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('band_show', { 'id': band.id }) }}">show</a>
	                    </li>
	                    <li>
	                        
	                    </li>
	                </ul>
	            </td>
	        </tr>
	{% endfor %}
</div>
 
<ul>
    <li>
        <span  id="new-band">
            Create a new entry
        </span>
    </li>
</ul>
