<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Chemin Du Son - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'        					
        					'bundles/clamzcdssite/less/site.less'
        					'bundles/clamzcdssite/less/menu.less'
        					'bundles/clamzcdssite/less/form.less'
        					'bundles/clamzcdssite/less/textboxList.less'
        					'bundles/clamzchemindusonuser/css/*' 
        					'bundles/cdsband/css/*'
        					filter="cssrewrite" output="css/main.css" %}
			    <link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
			
			{% stylesheets 'bundles/clamzcdssite/css/ui-lightness/jquery-ui-1.9.1.custom.css'
        					filter="cssrewrite, ?yui_css" output="css/main2.css" %}
			    <link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
			
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<header>
    		<div id="cds-logo">
    			<a  href="/" title="{{  'return.to.accueil' | trans }}"><img src="{{ asset("images/logo.png") }}" alt="chemin du son logo" /></a>
    		</div>
    		<nav>
    			{{ knp_menu_render('main') }}
    		</nav>
    		<div id="cds-quick-search">
    			<input type="search" placeholder="Recherche..." />
    		</div>		
    	</header>
    	<div id="content">
        	{% block body %}
        	{% endblock %}
        </div>
        {% block javascripts %}
        	<script type="text/javascript">
        	 	{% autoescape true js %}
		        	var CKEDITOR_BASEPATH = '{{ asset("bundles/clamzcdssite/js/ckeditor/") }}';
		    	{% endautoescape %}
		    </script>
        	{% javascripts 'bundles/clamzcdssite/js/jquery-1.8.2.min.js'
        					 'bundles/clamzcdssite/js/waitForKeyElements.js'
        					 'bundles/clamzcdssite/js/underscore-min.js'
        					 'bundles/clamzcdssite/js/ckeditor/ckeditor.js'
        					'bundles/clamzcdssite/js/*'
        					'bundles/cdsband/js/*' filter='?yui_js' %}
			    <script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}	
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
